# created by virtualenv automatically
# Игнорировать все файлы
*

# Но не игнорировать текущий `.gitignore` файл
!.gitignore

# Не игнорировать Python скрипты
!*.py

# Если скрипты находятся в подкаталогах, не игнорировать каталоги
#!*/
